<!-- Menu Principal -->
<div class="menu-principal sticky-top" id="menu-principal">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenuPrincipal" aria-controls="navbarMenuPrincipal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenuPrincipal">
                <ul class="navbar-nav w-100 justify-content-center me-auto mb-2 mb-lg-0">
                    <li>
                        <div class="position-relative">
                            <div class="position-absolute banderin">
                                <img src="https://www.ipn.mx/assets/files/upiiz/img/inicio/upiiz-icono.png" alt="upiiz" class="banderin-img">
                            </div>
                        </div>                        
                    </li>
                    <li class="px-xl-3 px-xxl-5"></li>
                    <li class="px-xl-3 px-xxl-5"></li>
                    <li>
                        <ul class="navbar-nav w-100 d-flex justify-content-center me-auto mb-2 mb-lg-0">
                            <li class="nav-item first" data-active="inicio">
                                <a class="nav-link" href="semana_mecatronica_2025.html#inicio" title="Semana de Mecatrónica 2025 - Inicio">Inicio</a>
                            </li>
                            <li class="nav-item dropdown" data-active="actividades">
                                <a class="nav-link dropdown-toggle" href="#" title="Actividades de la Semana de Mecatrónica" role="button" data-bs-toggle="dropdown" aria-expanded="false">Actividades</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item first" href="concursos_semana_mecatronica.html" title="Concursos de Robótica y Programación">Concursos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="Conferencias.html" title="Conferencias con Expertos">Conferencias</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="semana_mecatronica_2025.html#talleres" title="Talleres Prácticos">Talleres</a>
                                    </li>
                                        <li>
                                            <a class="dropdown-item" href="Exposiciones.html" title="Exposiciones de Proyectos">Exposiciones</a>
                                        </li>
                                    <li>
                                        <a class="dropdown-item" href="semana_mecatronica_2025.html#deportivas" title="Actividades Deportivas">Actividades Deportivas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item last" href="semana_mecatronica_2025.html#sorteos" title="Sorteos y Premios">Sorteos</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-active="poster">
                                <a class="nav-link" href="semana_mecatronica_2025.html#poster" title="Posters Oficiales de la Semana de Mecatrónica">Posters</a>
                            </li>
                            <li class="nav-item dropdown" data-active="conocenos">
                                <a class="nav-link dropdown-toggle" href="#" title="Conócenos - Información sobre la UPIIZ" role="button" data-bs-toggle="dropdown" aria-expanded="false">Conócenos</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item first" href="conocenos/directorio.html" title="Directorio - Nuestro director y equipo de trabajo">Directorio</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-active="cfp">
                                <a class="nav-link" href="semana_mecatronica_2025.html#cfp" title="Call for Papers">Call for Papers</a>
                            </li>
                            <li class="nav-item" data-active="programa">
                                <a class="nav-link" href="semana_mecatronica_2025.html#programa" title="Programa de la Semana de Mecatrónica">Programa</a>
                            </li>
                            <li class="nav-item" data-active="registro">
                                <a class="nav-link" href="registro_semana_mecatronica.html" title="Registro para la Semana de Mecatrónica">Registro</a>
                            </li>
                            <li class="nav-item dropdown" data-active="participantes">
                                <a class="nav-link dropdown-toggle" href="#" title="Información para Participantes" role="button" data-bs-toggle="dropdown" aria-expanded="false">Participantes</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item first" href="semana_mecatronica_2025.html#estudiantes" title="Información para Estudiantes">Estudiantes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="semana_mecatronica_2025.html#docentes" title="Información para Docentes">Docentes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="semana_mecatronica_2025.html#empresarios" title="Información para Empresarios">Empresarios</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item last" href="semana_mecatronica_2025.html#publico" title="Información para Público General">Público General</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-active="colaboradores">
                                <a class="nav-link" href="semana_mecatronica_2025.html#colaboradores" title="Colaboradores de la Semana de Mecatrónica">Colaboradores</a>
                            </li>
                            <li class="nav-item" data-active="patrocinadores">
                                <a class="nav-link" href="semana_mecatronica_2025.html#patrocinadores" title="Patrocinadores de la Semana de Mecatrónica">Patrocinadores</a>
                            </li>
                            <li class="nav-item" data-active="escaner">
                                <a class="nav-link" href="EscanerQR/index.html" title="Escáner QR para Administradores" target="_blank">
                                    <i class="fas fa-qrcode me-1"></i>Escáner QR
                                </a>
                            </li>
                            <li class="nav-item last" data-active="contacto">
                                <a class="nav-link" href="semana_mecatronica_2025.html#contacto" title="Contacto - Semana de Mecatrónica">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="utilerias-box navbar-nav" role="search">
                    <li class="utilerias-separador"></li>
                    <li class="nav-item">
                        <button type="button" class="nav-link utilerias-busqueda" data-bs-toggle="modal" data-bs-target="#modalBusqueda">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
